<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h2>Suggestion</h2>

            <pre>Use TAB to accept the suggestion.</pre>
            <div class="mt-5">
                <textarea id="autoCompleteTextArea" rows="10">Bugün hava çok güzel. Dışarı çı</textarea>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/suggestion.js"></script>
} 